name: Deploy Backend Application

on:
  workflow_dispatch:

# on:
#  push:
#    branches:
#      - main

jobs:
  deploy-backend:
    name: Deploy Backend to EC2
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Backend Code
      uses: actions/checkout@v3

    - name: Clone or Update Backend Repository on EC2
      env:
        SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
      run: |
        echo "${SSH_PRIVATE_KEY}" > private-key.pem
        chmod 400 private-key.pem
        ssh -o StrictHostKeyChecking=no -i private-key.pem ec2-user@13.232.117.141 << 'EOF'
          if [ -d "/home/ec2-user/dr_one/.git" ]; then
            echo "Directory exists. Pulling latest updates..."
            cd /home/ec2-user/dr_one && git pull origin main
          else
            echo "Directory does not exist. Cloning repository..."
            git clone https://github.com/chaaviesol/dr1-backend.git /home/ec2-user/dr_one
          fi
        EOF
    - name: Cleanup SSH Key
      run: rm private-key.pem
